In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import os #we will use the function listdir to list files in a folder
import math #to apply absolute value

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Day 1 - Mission statement:

# Exploring the data
# Data cleaning
    # checking for null values
    # uniformizing column names and figuring out what the column names even meeeaaaaaaaaaaan
# checking the multicollinearity
# 
#
#

In [ ]:
path = ('C:/Users/camil/Documents/Courses/Ironhack/Module 1/Week 6/data_mid_bootcamp_project_FIFA_MoneyBall/')
file = os.listdir(path)
file

In [ ]:
data = pd.DataFrame()
for file in file:
    if file.endswith('2.csv'):
        data = pd.read_csv(path + file)       
data.head()

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.columns = [column.lower().replace(" ", "_").replace("&","and") for column in data.columns] 
data.head()

In [ ]:
for col_name in data.columns: 
    print(col_name)

In [ ]:
for col in data.columns:
    if data[col].isna().sum() > 0:
        print(col, ": ", data[col].isna().sum(), "NaN")

In [ ]:
data[data.columns[data.isna().any()]]

In [ ]:
round((data["loan_date_end"].isna().sum())/(len(data["loan_date_end"]))*100,0) # we can drop that column

In [ ]:
# Are there other columns that can be dropped?
# # player_photo, club_logo, flag_photo, they are photo we don't need 
# # gender: should only be one unique value:
data['gender'].unique()

In [ ]:
data = data.drop(["loan_date_end", "player_photo", "club_logo", "flag_photo", "gender"], axis=1)

In [ ]:
data.shape

In [ ]:
# Setting ID as the index but first checking that there are only unique values there
print(data.id.nunique())
print(len(data.id))

In [ ]:
data = data.set_index('id')
data.head()

In [ ]:
# We want to rename the positions to make it more readable for us, as football laypersons
# So we get a csv file that we created and will turn into a dictionary
positions = pd.read_csv('C:/Users/camil/Documents/Courses/Ironhack/Module 1/Week 6/data_mid_bootcamp_project_FIFA_MoneyBall/positions.csv', header=None, index_col=0)
positions

In [ ]:
positions = positions.squeeze().to_dict()

In [ ]:
positions

In [ ]:
for column in data:
    if column in positions:
        data.rename(columns=positions, inplace=True)
data.head()

In [ ]:
# Cleaning the numerical data

In [ ]:
# cleaning height
data['height']

In [ ]:
# CLEANING THE HEIGHT
def convert_height(i):
    to_cm = 2.54
    x = i.replace("'"," ")
    x2 = x.replace('"','') 
    #have to do it in two part because different quote used for inch and foot which causes problem with the string
    y = x2.split()
    height = round(((float(y[0])*12)+float(y[1]))*to_cm,0)
    return height

In [ ]:
data['height'] = data['height'].apply(convert_height)
data['height']

In [ ]:
# CLEANING THE WEIGHT
def clean_weight(i):
    x = float(i.replace('lbs',''))
    return x

In [ ]:
data["weight"] = data["weight"].apply(clean_weight)
data["weight"]

In [ ]:
# CLEANING VALUE
def clean_value(i):
    x = float(i.replace(".","").replace("â‚¬","").replace("K","000").replace("M","00000"))
    return x

In [ ]:
data['value'] = data['value'].apply(clean_value)
data['value']

In [ ]:
# CLEANING WAGE AND RELEASE CLAUSE
data['wage'] = data['wage'].apply(clean_value)
data['wage']

In [ ]:
data['release_clause'] = data['release_clause'].apply(clean_value)
data['release_clause']

In [ ]:
# CLEANING THE POSITIONS
def cleaning_positions(i):
    x = float(i.replace("+",".").replace("-",""))
    return x

In [ ]:
for col in data.loc[:, 'left_striker':'goalkeeper']:
    data[col] = data[col].apply(cleaning_positions)
data.head()

In [ ]:
# Checking that there are no numerical data still classified as object
for col in data.columns:
    print(col, ":", data[col].dtypes)
# hits is still an object, to be changed into numerical

In [ ]:
data['hits'] = pd.to_numeric(data['hits'], errors='coerce')
data['hits']

In [ ]:
# CLEANING CATEGORICAL DATA
# starred data cleaning (you can also have one for loop if I think about it now, this is just how I went thinking about it)
star_columns = ['weak_foot', 'skill_moves', 'international_reputation']

# Check unique values
# Select only the first character from the string
# Convert data type from object to integer
# Check that the transformation was successful
for column in star_columns:
    print(data[column].unique())
    data[column] = data[column].str[0]
    data[column] = pd.to_numeric(data[column], errors='raise')
    print(data[column].dtypes)

In [ ]:
data['nationality'].unique()
# remove &amp;
# change China PR to China
# DR Congo to Democratic Republic of the Congo
# DPR Korea to North Korea

In [ ]:
data["nationality"] = data["nationality"].apply(lambda x: "Democratic Republic of the Congo" if str(x).startswith("DR")
                                                 else "North Korea" if str(x).endswith("DPR")
                                                 else "China" if str(x).endswith("PR")
                                                 else str(x).replace("&amp;","and") if "&amp;" in x
                                                 else x)
data['nationality'].unique()

In [ ]:
# Explore the contract data
data['contract'].unique()

# As the end of the contract is typically represented by the last 4 characters of the 
# strings, we will extract those where possible:
def clean_contract(x):
    try:
        x = int(x[-4:])
    except:
        pass
    return x

data['contract'] = data['contract'].apply(clean_contract)

# Check what non-integer values remained in the column:
data['contract'].unique()

In [ ]:
def record_loans(x):
    if type(x) == str and 'On Loan' in x:
        record = 'Yes'
    else:
        record = 'No'
    return record    

data['on_loan'] = data['contract'].apply(record_loans)

# Check the operation was successful
data['on_loan'].unique()

In [ ]:
# We'll now remove the 'On Loan' string from the contract column to extract the year:
def clean_loans(x):
    try:
        x = int(x.replace(" On Loan", "")[-4:])
    except:
        pass
    return x    

data['contract'] = data['contract'].apply(clean_loans)

# Check the operation was successful
data['contract'].unique()

In [ ]:
odd_ones_out = []

for value in data['contract']:
    if type(value) == str and 'Free' in value:
        odd_ones_out.append(value)
    elif value == 1648:
        odd_ones_out.append(value)

len(odd_ones_out)

In [ ]:
def clean_odds(x):
    if x in odd_ones_out:
        x = np.nan
    return x    

data['contract'] = data['contract'].apply(clean_odds)

# Check the operation was successful
data['contract'].unique()

In [ ]:
for col in data.columns:
    if data[col].isna().sum() != 0:
        print(col, ":", data[col].isna().sum())

In [ ]:
for col in data.columns:
    if data[col].isna().sum() != 0:
        print(col, ":", round(((data[col].isna().sum())/len(data[col]))*100,0),"%")

In [ ]:
# Max left is 2% so we can safely drop the remaining NaN values:
data = data.dropna()

In [ ]:
for col in data.columns:
    if data[col].isna().sum() != 0:
        print(col, ":", data[col].isna().sum())
    else:
        print("No NaN left in this dataframe")
        break

In [ ]:
# EDA

In [ ]:
# sort the best players
best_players = data.sort_values(["overall_score"], ascending=[False])
rank = best_players[["name", "overall_score"]]
rank.head(10)

In [ ]:
# sort the best potential players - tis the same
best_pot = data.sort_values(["potential_score"], ascending=[False])
rank_2 = best_players[["name", "potential_score"]]
rank_2.head(10)

In [ ]:
# Would there be a bigger difference between the overall score and potential score if we were to compare the bottom of the list?
worst_players = data.sort_values(["overall_score"], ascending=[False])
rank = worst_players[["name", "overall_score"]]
rank.tail(10)

In [ ]:
worst_pot = data.sort_values(["potential_score"], ascending=[False])
rank_2 = worst_players[["name", "potential_score"]]
rank_2.tail(10)
# no difference

In [ ]:
best_hits = data.sort_values(["overall_score", "hits"], ascending=[False, False])
rank_3 = best_players[["name", "overall_score", "hits"]]
rank_3.head(3)

In [ ]:
# We split the numerical data
num = data.select_dtypes(np.number)
num.head()

In [ ]:
# we want to see the distributions
for column in num.columns:
    sns.distplot(data[column])
    plt.show()
# quite a few are actually Gaussian in shape but we'll normalize anyways and remove outliers

In [ ]:
# Box-plot to better see the outliers
for column in num.columns:
    sns.boxplot(data[column])
    plt.show()

In [ ]:
# Checking the correlations
data.corr()

In [ ]:
#HEATMAP
mask = np.zeros_like(data.corr())
mask[np.triu_indices_from(mask)] = True # optional, to hide repeat half of the matrix
fig, ax = plt.subplots(figsize=(80, 76))
ax = sns.heatmap(data.corr(), mask=mask, annot=True)
plt.show()

# first observations:
# value, wage and release clause highly correlated to each other (around 0.6)
# postions very highly correlated (>0.95) to stats that fit positions, ie. attacking positions corrlated to attacking stats
  # => for the future rounds: 
    # positions and stats are highly correlated data:
    # repetition of exogenous variables can twist the model, will probably be dropped

In [ ]:
data.head()